@import url('normalize.css');
@font-face {
	font-family:'RaphaelIcons';
    src: url('raphaelicons-webfont.eot');
    src: local('☺'), 
		url('fonts/raphaelicons-webfont.woff') format('woff'), 
		url('fonts/raphaelicons-webfont.ttf') format('truetype'), 
		url('fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* General Demo Style */
body{
	font-family: Georgia, serif;
	background: #ddd;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
a{
	color: #555;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/* Header Style */
.co-top{
	line-height: 30px;
	font-size: 30px;
    margin-top: 2px;
    margin-left: 5px;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
}
.co-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #888;
	display: inline-block;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
.co-top span.right{
	float: right;
	padding-right:10px;
}

.co-top span.right a{
	float: left;
	display: block;
}
@media screen and (max-width: 520px) {
	.co-top { display: none; }
}

#main_name{
    font-size: 30px;
}
#ms_pic{
    height: 50px;
    width: 220px;
    height: 70px;
}
#google_pic{
    width: 200px;
    margin-left: 200px;
}

